body{
	background-color: orange;
}

#road{
	border-bottom: 7px dotted black;	/*solid, dotted, rigid*/
}

#runner{
	background:url("https://www.codeandweb.com/blog/2016/05/10/how-to-create-a-sprite-sheet/spritestrip.png");

	width:256px;
	height:256px;
	animation:walk 1s steps(6) infinite,
				forward 5s linear infinite;
}

@keyframes walk{
	0%{
		background-position: 0px;
	}
	100%{
		background-position: 3000px;
	}
}

@keyframes forward{
	0%{
		transform:translateX(-100px);
	}

	100%{
		transform:translateX(1200px);
	}
}


